<!DOCTYPE html>
<html manifest="appcache-disabled">
	<head>
		<title>FX Mobile</title>

		<link href="public/initializing.css" rel="stylesheet">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="format-detection" content="telephone=no" />

		<link rel="icon" sizes="192x192" href="public/icons/caplin/android/drawable-xxxhdpi/ic_launcher.png">
		<link rel="icon" sizes="144x144" href="public/icons/caplin/android/drawable-xxhdpi/ic_launcher.png">
		<link rel="icon" sizes="96x96" href="public/icons/caplin/android/drawable-xhdpi/ic_launcher.png">
		<link rel="icon" sizes="72x72" href="public/icons/caplin/android/drawable-hdpi/ic_launcher.png">
		<link rel="icon" sizes="48x48" href="public/icons/caplin/android/drawable-mdpi/ic_launcher.png">
		<link rel="icon" sizes="36x36" href="public/icons/caplin/android/drawable-ldpi/ic_launcher.png">

		<link rel="apple-touch-icon" href="public/icons/caplin/ios/icon76.png" sizes="76x76">
		<link rel="apple-touch-icon" href="public/icons/caplin/ios/icon120.png" sizes="120x120">
		<link rel="apple-touch-icon" href="public/icons/caplin/ios/icon152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="public/icons/caplin/ios/icon180.png" sizes="180x180">
	</head>
	<body class="caplin visual">
		<div id="initialising">
			<div>
				<svg version="1.1" id="loader" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					x="0px" y="0px"
					width="24px" height="30px" viewBox="0 0 24 30"
					style="enable-background:new 0 0 50 50;" xml:space="preserve">
					<rect x="0" y="0" width="4" height="20" fill="#333">
						<animate attributeName="opacity" attributeType="XML"
							values="1; .2; 1"
							begin="0s" dur="1s" repeatCount="indefinite"
						/>
					</rect>
					<rect x="7" y="0" width="4" height="20" fill="#333">
						<animate attributeName="opacity" attributeType="XML"
							values="1; .2; 1"
							begin="0.2s" dur="1s" repeatCount="indefinite"
						/>
					</rect>
					<rect x="14" y="0" width="4" height="20" fill="#333">
						<animate attributeName="opacity" attributeType="XML"
							values="1; .2; 1"
							begin="0.4s" dur="1s" repeatCount="indefinite"
						/>
					</rect>
				</svg>
				<p id="status">loading</p>
				<p>
					<span id="loading-percent">
						&nbsp;
					</span>
				</p>
			</div>
			<div id="retry" style="display: none;"><button></button></div>
		</div>

		<div id="please-rotate">
			<div class="logo"></div>
			<div class="rotate"></div>
			<div class="message">Please switch orientation</div>
		</div>
		<div id="background"></div>

		<script>
			window.$_brjsI18nProperties = {
				en: {}
			};
			window.$_brjsI18nUseLocale = 'en';
		</script>

		<script src="public/bundle.js"></script>
	</body>
</html>
